<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{eventOverview.title}">Event Overzicht</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="~{nav :: navbar}"></div>

<div class="flex flex-col justify-center items-center mt-8 mb-8">
    <h1 class="font-bold text-blue-900 text-3xl mt-4 mb-4">
        <span th:text="#{eventOverview.header}">Overzicht van Events</span>
    </h1>

    <div class="border-2 border-black p-16 rounded-md bg-blue-100">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-blue-700">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider" th:text="#{event.naam}">Naam</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider" th:text="#{event.sprekers}">Spreker(s)</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider" th:text="#{event.lokaal}">Lokaal</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider" th:text="#{event.datumTijd}">Datum en Tijd</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr th:each="event : ${events}">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    <a href="#" th:href="@{'/events/' + ${event.id}}" th:text="${event.naam}" class="text-blue-600 hover:text-blue-900">Event Naam</a>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <span th:each="spreker, iterStat : ${event.sprekers}">
                        <span th:text="${spreker.naam}">Spreker Naam</span><span th:if="${!iterStat.last}">, </span>
                    </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" th:text="${event.lokaal.naam}">Lokaal Naam</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" th:text="${#temporals.format(event.datumTijd, #messages.msg('datetime.format.pattern'))}">Datum en Tijd</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>